" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc  
  
"" -- Suggested options --  
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=8 
  
" Do incremental searching.
set incsearch  
  
" Don't use Ex mode, use Q for formatting.
map Q gq  
  
set relativenumber  
set number 
set showmode   

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins  
" Highlight copied text
Plug 'machakann/vim-highlightedyank'  

" Commentary plugin
Plug 'tpope/vim-commentary'  

" Quickscope plugin
set quickscope

" Nerdtree plugin
Plug 'preservim/nerdtree'
set nerdtree

" --- Custom mappings ---
" set the leader key to space
let mapleader = " "
map <space> <nop>

" leader q map to close current tab
map <leader>q :tabclose<cr>

" maps alt j and alt k to move selected lines up and down
vmap <a-j> :m '>+1<cr>gv=gv
vmap <a-k> :m '<-2<cr>gv=gv
 
" map leader f to find usages and leader h to highlight usages in file
map <leader>f <action>(findusages)  
map <leader>f <action>(highlightusagesinfile)

" map leader d to quick documentation and leader g to go to declaration
map <leader>d <action>(quickjavadoc)  
map <leader>g <action>(gotodeclaration)  

" map leader leader to gotonexterror and leader bs to gotopreviouserror
map <leader><leader> <action>(gotonexterror)
map <leader><bs> <action>(gotopreviouserror)

map <leader>pf :nerdtree<cr>
  
"" map \b to toggle the breakpoint on the current line  
"map \b <action>(togglelinebreakpoint)