" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc  
  
"" -- Suggested options --  
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=8 
  
" Do incremental searching.
set incsearch  
  
" Don't use Ex mode, use Q for formatting.
map Q gq  
  
set relativenumber  
set number 
set showmode   

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins  
" Highlight copied text
Plug 'machakann/vim-highlightedyank'  

" Commentary plugin
Plug 'tpope/vim-commentary'  
set commentary

" Quickscope plugin
set quickscope

" Nerdtree plugin
Plug 'preservim/nerdtree'
set NERDTree

" --- Custom mappings ---
" set the leader key to space
let mapleader = " "
map <Space> <nop>

" leader q map to close current tab
map <Leader>q :tabclose<cr>

" map c-arrow keys to move tabs place in groups or into new groups in the corresponding direction
map <C-/> :action MoveTabRight<CR>
map <C-m> :action Unsplit<CR>

" map c-, and c-. to switch between tabs
map <C-,> :tabprevious<cr>
map <C-.> :tabnext<cr>

" map leader , and leader . to switch between panes
map <Leader>, <C-w>h
map <Leader>. <C-w>l

" map leader m and leader / to move tabs left and right within a group
map <Leader>m :tabmove -1<cr>
map <Leader>/ :tabmove +1<cr>

" map leader w to save all
map <Leader>w :wa<cr>

" maps alt j and alt k to move selected lines up and down
vmap <a-j> :m '>+1<cr>gv=gv
vmap <a-k> :m '<-2<cr>gv=gv
 
" map leader f to find usages and leader h to highlight usages in file
map <Leader>f <Action>(findusages)  
map <Leader>F <Action>(highlightusagesinfile)

" map leader leader to gotonexterror and leader bs to gotopreviouserror
map <Leader>e <Action>(GotoNextError)
map <Leader><BS>e <Action>(GotoPreviousError)

" map leader d to quick documentation and leader g to go to declaration
map <Leader>d <Action>(QuickJavaDoc)  
map <Leader>g <Action>(GotoDeclaration)

" map leader pf to open the project file tree
map <Leader>pf :NERDTree<CR>

" map leader pv to open the project switcher
map <Leader>pv <Action>(Switcher)
  
"" map \b to toggle the breakpoint on the current line  
"map \b <Action>(togglelinebreakpoint)set ideajoin